<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <%- include ('blocks/header.ejs') %>
    <h1>About Page</h1>
    <p>
      Deserunt ullamco dolor mollit aliquip voluptate amet eiusmod. Ea magna ea
      pariatur nostrud. Enim est anim Lorem ipsum veniam nisi sunt cillum
      reprehenderit et elit consectetur. Lorem tempor Lorem sint fugiat ex
      fugiat eu dolore proident sunt elit exercitation. Labore pariatur deserunt
      occaecat consectetur occaecat. Lorem officia aute ipsum cupidatat est esse
      ullamco est eu ut minim eu dolor. Aute consequat labore voluptate Lorem
      veniam Lorem laborum tempor mollit consectetur. Enim mollit irure ut
      dolore excepteur aute. Adipisicing ea tempor aute culpa aliqua deserunt
      veniam mollit eiusmod velit non. Ea irure pariatur qui ipsum nostrud elit
      pariatur qui duis enim anim est proident dolor. Eiusmod quis adipisicing
      duis non consequat fugiat nulla deserunt in commodo eu est tempor quis.
      Laboris mollit ullamco exercitation dolore nisi proident aliqua do
      voluptate nisi reprehenderit. Ea ut minim non anim. Aute commodo laborum
      nostrud nulla magna quis adipisicing sint enim eiusmod esse laboris elit
      officia. Nostrud exercitation adipisicing ex nisi enim. Quis do pariatur
      fugiat consequat sint ullamco sint.
    </p>
  </body>
</html>
